.App {
	text-align: center;
}

body {
	background-color: #282c34;
}

p,
h1 {
	color: #fff;
}

input {
	font-size: 16px;
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding: 0.375rem 0.75rem;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	margin: 10px 0;
}
